[Unit]
Description=GlobalProtect VPN client GPA daemon

[Service]
Type=simple
ExecStart=/opt/paloaltonetworks/globalprotect/PanGPA start
WorkingDirectory=/opt/paloaltonetworks/globalprotect

[Install]
WantedBy=default.target
